<html>
    <head>
      {%load static%}
        <title>{%block title %} Gist Tech.{%endblock%}</title>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<script src="{%static 'js/gist.js' %}" type="text/javascript"></script> 
<link href="{%static 'css/gist.css'%}"/>
</head>
<body>
       
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">GIST TECH.</a>
      </div>
      {%block menu%} {%include 'menubar1.html'%} {%endblock%}
    
  <div class="container">
{%block data%} 
{%endblock%} 
</div>
  
   
    </body>

</html>