<html>
    <head>
        <title>Registraion</title>
        <style>
            h2{
                color:blue;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                
            }
            a{
                text-decoration: none;
            }
            table{
                width:50%;
                border:0px;
            }
            td,th{
                border-bottom:peru solid 1px;
            }
            
        </style>
    </head>
    <center>
        <h2>Registraion form</h2>
        <form action="/save">
        <table cellspacing='0'>
            <tr>
                <th>name</th>
                <th><input type="text" name="nm"/></th>
            </tr>
            <tr>
                <th>userid</th>
                <th><input type="text" name="unm"/></th>
            </tr>
            <tr>
                <th>passowrd</th>
                <th><input type="password" name="pwd"/></th>
            </tr>
        </table>
        <input type='submit' value='Register'/>
        </form>
    </center>
</html>